* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

nav {
    background-color: grey;
    margin: 0px;
    text-align: center;

}


.wrapper-nav {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: whitesmoke;
    padding: 0px 200px;
    
}

.wrapper-2 {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 25px;
    padding: 20px 8px;
}

img {
    width: 135px;
    margin: 1px;
}

.main {
    background: white;
    color: black;
    padding: 10px;
}

.main > p {
    padding: 20px;
}

aside {
    background: white;
    padding: 10px;
}

aside > p {
    background: white;
    color: black;
}

a {
    color: blue;
    background: transparent;
    padding-left: 10px;
}